body {
    font-family: sans-serif;
    width: 80%;
    margin: auto;
    line-height: 1.5;
}
h1 {
    font-size: xx-large;
}
ul {
    line-height: 2;
}


.wip {
    background-color: antiquewhite;
    border: darkorange thick solid;
    padding: 1rem;
}

table {
    line-height: 2;
    border-collapse: collapse;
}
td {
    border: thin black solid;
    padding: 5px;
}