body {
    font-family: sans-serif;
    width: 80%;
    margin: auto;
    line-height: 1.5;
}
h1 {
    font-size: xx-large;
}
ul {
    line-height: 2;
}


.wip {
    background-color: antiquewhite;
    border: darkorange thick solid;
    padding: 1rem;
}

table {
    line-height: 2;
    border-collapse: collapse;
}
td {
    border: thin black solid;
    padding: 5px;
}

.lookhere {
    font-size: larger;
}
.lookhere::after {
    content: "NEW 🧨";
    font-variant: small-caps;
    font-size: x-small;
    padding-left: 8px;
    background-color: yellow;
}
.note {
    font-style: italic;
    border: thin black solid;
    padding: .5rem;
    border-radius: 5px;
}
.note::before {
    content: "Note: ";
    font-style: normal;
}
.stale::after {
    background-color: gray;
}
.c2021::after {
    content: "last updated 2021 🏴‍☠️";
}
.c2020::after {
    content: "last updated 2020 🏴‍☠️";
}