<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Synchronized Media for Publications CG: {{title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8">
        {%- block head -%}
        {%- endblock -%}
    </head>
    <body>
    {%- block body -%}
    {%- endblock -%}
    </body>
</html>