{%- extends 'htmleton.njk' -%}
{%- block head -%}
    <link rel="stylesheet" href="css/spec-extra.css"/>    
    <script src='https://www.w3.org/Tools/respec/respec-w3c' class='remove' defer="defer"></script>
    <script class='remove'>
        var respecConfig = {
            specStatus: "CG-DRAFT",
            group: "sync-media-pub",
            editors: {{editors | json | safe}},
            edDraftURI: "https://w3c.github.io/sync-media-pub{{page.url}}",
            shortName: "sync-media-pub",
            noRecTrack: true,
            copyrightStart: "2019",
            includePermalinks: true,
            permalinkEdge: true,
            permalinkHide: false,
            diffTool: "http://www.aptest.com/standards/htmldiff/htmldiff.pl",
            github: {
                repoURL: "https://github.com/w3c/sync-media-pub",
                branch: "master"
            },
            localBiblio: {},
            xref: "web-platform"
        };
    </script>
{%- endblock -%}
{%- block body -%}
{{ content | safe }}
{%- endblock -%}
