{%- extends 'htmleton.njk' -%}
{%- block head -%}
<link rel="stylesheet" href="css/page.css"/>
{%- endblock -%}
{%- block body -%}
<h1>{{title}}</h1>
Last updated {{ page.date.toDateString() }}
{{ content | safe }}
{%- endblock -%}
